body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

h3{
	margin: 10px 0px 10px 0px;
}

p{
	margin: 5px 0px 5px 0px;
}

.page-header{
	margin:0px;
	padding:20px;
	/*background-color:#008888;*/
	background-color: #444444;
	color:white;
}

#graph_panel{
	width:800px !important;
	height:700px !important;
	background-color: #eeeeee;
	border-style:solid;
	border-color: #aaaaaa;
	padding:0;
}

.floater{
	float: left;
	margin-top: 20px;
}

#left_panel{

}

#right_panel{
	width:400px;
	height: 850px;
	margin-left: 20px;
	box-shadow: -2px 0px 0px #dddddd;
	padding-left: 20px;
}

.btn{
	margin-bottom: 20px;
}

.btn-primary{
	background-color: #00bbaa !important;
}

.btn_clicked{
	background-color: #00ddbb !important;
}

/* joint js disable link tools */
/*.link-tools .tool-remove { display: none; }*/
.link-tools .tool-options { display: none; }
.link .mark-errors { display: none; }
.link .marker-arrowheads{ display: none; }
.link .marker-vertex-group{display: none;}
.link .connection-wrap{display: none;}